a {
    color: #3366cc;
    font-weight: 500;
}

a:hover {
    color: #3e74e0;
}

body {
    margin: 0;
    background-color: white;
    overflow: hidden;
}

code {
    white-space: pre;
}

h1 {
    padding-top: 20px;
    padding-bottom: 10px;
}

textarea {
    height: 60vh;
    width: 80%;
}

textarea, .inputBox {
    margin-bottom: 10px;
    padding-left: 5px;
    border: 1px solid #ccc;
}

textarea:focus, .inputBox:focus {
    outline: 1px solid #444;
}

.icon {
    width: 15px;
}

.linkDiv {
    margin-bottom: 1px;
    width: fit-content;
    margin: auto;
}

.main {
    padding: 10px 75px 10px 35px;
}

.row {
    margin-left: unset;
}

.search {
    font-size: 15px;
    line-height: 15px;
    padding-left: 25px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 13px;
    height: 30px;
    width: min(280px, 100%);
}

.search:focus {
    outline: 1px solid #444;
}

.search-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-bottom: 25px;
    width: min(280px, 100%);
}

.search-form {
    position: relative;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
    text-align: center;
    box-shadow: 0.5px 0.5px 10px #aaa;
}

.sidebar a {
    color: #444;
    font-weight: 400;
}

.sidebar a:hover {
    text-decoration-thickness: 1px;
}

.sidebar h2 {
    margin-top: 5px;
}

#globeImg {
    width: 80%;
    filter: drop-shadow(5px 5px 8px black);
    margin-bottom: 20px;
}

#lensImg {
    position: absolute;
    left: 8px;
    height: 12px;
    width: auto;
}